body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

/* Global */
.container {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* header */

header {
  margin: 0;
  padding-top: 20px;
  min-height: 50px;
  padding: 20px 5% 0 5%;
}
header button {
  float: left;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  background-color: Transparent;
  color: #42526E;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
header button:hover {
  background-color: #e1e4ea;
}
header .try_free_btn {
  background-color: #4d4dff;
  color: #ffffff;
}
header .try_free_btn:hover {
  background-color: #3333ff;
}

header li {
  float: left;
  display: inline;
  padding: 0 10px 0 10px;

}

header img {
  float: left;

}

header #menu_2{
  position: relative;
  float: right;
  left: -130px;
}

header #menu_3 {
  position: absolute;
  right: 80px;
  margin-top: 5px;
  padding: 0;
}

header #menu_3 a {
  color: #42526E;
  padding: 5px;
}

#left_border {
  border-left: 1px solid #bfc9d9;
}



.navbar_properties_for_mobile {
  display: none;
}


/* showcase */

#showcase {
  background-image: url("https://wac-cdn.atlassian.com/dam/jcr:b98acc66-09c9-482d-b442-fbb2ccbff414/AC+Atlassian-HP-hero.svg?cdnVersion=le");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  padding: 0 22% 0 22%;
}

#showcase #announcing {
  padding-top: 90px;
}
#showcase img {
  max-width: 350px;
  height: auto;
}


#showcase button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: Transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

#showcase button:hover {
  background-color: #808080;
}

/* latest-event */

#latest-event {
  color: #42526E;
  padding: 20px 10% 20px 10%;
  margin: 0;
  font-size: 15px;
  background-color: #F4F5F7;
}

#latest-event img  {
  float: left;
  padding-right: 30px;
  max-width:200px;
}

#latest-event button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: Transparent;
  color: #0033cc;
  border: 1px solid #0033cc;
  border-radius: 4px;
}

#latest-event button:hover {
  background-color: #e1e4ea;
}

/* tools_list_hearder */


#tools_list_hearder {
  min-height: 30px;
  padding: 0 5% 0 5%;
  margin: 0;
  text-align: center;
  font-weight: lighter;
  line-height: 25px;
  color: #42526E;
}

#tools_list_hearder h2 {
  font-size: 30px;
  padding-top: 40px;
  font-weight: 600;
}

#tools_list_hearder p {
  font-size: 19px;
  padding-bottom: 10px;
}

#tools_list_hearder hr {
  border: 2px solid #0033cc;
  max-width: 200px;
}

/* tools_boxes */

#tools_boxes {
  margin: auto;
  padding: 40px 5% 100px 5%;
  color: #42526E;
}

#tools_boxes .box {
  float: left;
  max-width: 28%;
  padding: 18px;
}

#tools_boxes a {
  text-decoration: none;
  font-weight: lighter;
  color: #0033cc;
  font-size: 15px;
}

#tools_boxes a:hover {
  text-decoration: underline;
  color: #3366ff;
}

#tools_boxes h3 {
  font-size: 22px;
}

#tools_boxes h5 {
  font-weight: bolder;
}


aside#tools_feature_img {
  float: right;
  width: 65%;
  margin-top: -200px;
}

article#main_left_col {
  width: 31%;
}

.float_left {
  float: left;
  padding: 40px 5% 40px 5%;
}

#tools_boxes#and_more {
  padding: 0 10% 0 10%;
}

/* get_started_free */
#get_started_free {
  margin: 0;
  background-color: #F4F5F7;
  min-width: 50px;
  color: #42526E;
  text-align: center;
  padding: 40px 0;
}


#get_started_free h2 {
  font-size: 33px;
}

#get_started_free p {
  font-size: 17px;
}

#get_started_free button {
  padding: 10px 15px;
  font-size: 17px;
  font-weight: bold;
  background-color: #82e3bb;
  color: #42526E;
  border: 1px solid #82e3bb;
  border-radius: 5px;
}

#get_started_free button:hover {
  background-color: #6edeaf;
  cursor: pointer;
}

/* indroducing_playbook */

#indroducing_playbook {
  color: #42526E;
  padding: 50px 5% 20px 5%;

}
#indroducing_playbook img {
  float: left;
  padding-right: 60px;
  padding-bottom: 60px;
  max-width:190px;
}

#indroducing_playbook a {
  color: #0033cc;
}


#indroducing_playbook h3 {
  font-size: 27px;
}

#indroducing_playbook hr {
  border: 1px solid #e1e4ea;
}

/* client_companies */
#client_companies {
  text-align: center;
  color: #42526E;
  font-size: 22px;
}


/* clients_showcase */
#clients_showcase {
  color: #42526E;
  padding: 40px 5%;
  margin: auto;
}

#clients_showcase .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
#clients_showcase .card {
    flex: 0 0;
    min-width: 30%;
    padding: 0;
    margin: 10px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
  }

#clients_showcase .decotrate_card {
  padding: 40px;
}

#clients_showcase a {
  color: #0033cc;
}

/* atlassian_packages */
#atlassian_packages {
  color: #42526E;
  font-size: 15px;
  margin: auto;
  padding: 0;
}

#atlassian_packages .packages {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}

#atlassian_packages .package {
  padding: 30px;
  flex: 0 0 40%;
  background-color: #F4F5F7;
  margin: 10px;
}

#atlassian_packages img {
  float: left;
  padding-right:40px;
  margin-top: 30px;
}
#atlassian_packages h3 {
  font-size: 20px;
}

#atlassian_packages p {
  overflow: hidden;
  font-size: 18px;
}
#atlassian_packages a {
  text-decoration: none;
  color: #42526E;
}

/* recommended_reading_header */
#recommended_reading_header {
  color: #42526E;
  text-align: center;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
}


/* recommended_reading_lists */
#recommended_reading_lists {
  color: #42526E;
  padding: 30px 5% 30px 5%;
  margin: auto;
  line-height: 2;
}

#recommended_reading_lists .lists {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

#recommended_reading_lists .list {
  flex: 0 0 30%;
  margin: 10px;
}
#recommended_reading_lists img {
  float: left;
  padding-right: 10px;
}

#recommended_reading_lists h3 {
  margin-top: 1px;

}
#recommended_reading_lists li {
  color: #0033cc;
}




/* atlassian_navigation */

#atlassian_navigation {
  background-color: #F4F5F7;
  color: #42526E;
  height: auto;
  padding: 0 5% 30px 5%;
  border-bottom:#a6aebf 0.5px solid;
}

#atlassian_navigation img {
  padding-top:20px;
}


#atlassian_navigation .navigation {
  float: left;
  width: 18%;
  padding: 5px;
}
#atlassian_navigation ul {
  list-style-type: none;
  line-height: 30px;
}

#atlassian_navigation a {
  text-decoration: none;
  color: #42526E;
  list-style: none;

}

#atlassian_navigation a:hover {
  text-decoration: underline;
}

#atlassian_navigation .mark_link {
  color: #3366ff;
}

/* footer */

footer {
  color: #42526E;
  background-color:#F4F5F7;
  padding: 10px 0 10px 0;
}
footer a {
  color: #42526E;
}

footer li {
  display: inline;
  padding: 0 10px 0 10px;
}

footer #lang-opt {
  float: left;
}

footer #footer-nav {
  /* position: absolute; */
}

footer #social-media-icon {
  float: right;
  margin-top: -15px;
}

/* UHD Screen */
@media screen and (min-width: 1500px) {
  .container {
    max-width: 50%;
  }

  header #menu_3 {
    right: 650px;
  }

}
