@media screen and (max-width: 768px) {
  /* header */
  header {
    padding-left: 0;
    padding-right: 0;
  }
  header button {
    padding: 5px 10px;
  }

  header img, header li, header #menu_2 li {
    float: none;
  }

  header nav #menu_2 {
    float: right;
    margin-top: -30px;
  }

  header nav #menu_1 {
    float: left;
    margin-left: -7px;
  }

  header #menu_3 {
    right: 30px;
    margin-top: -25px;
  }

  /* tools_boxes */
  #tools_boxes {
    padding: 0;
  }

  /* clients_showcase */

  #clients_showcase .card {
    min-width:30%;
  }

  #clients_showcase .decotrate_card {
    padding: 20px;
  }

  #clients_showcase p {
    font-size: 14px;
  }



  /* atlassian_packages */
#atlassian_packages .package {
  padding: 40px;
  flex: 0 0 35%;
}
#atlassian_packages h3 {
  font-size: 14px;
}
#atlassian_packages p {
  font-size: 13px;
}







  /* recommended_reading_lists */
  #recommended_reading_lists {
    padding: 0;
  }


/* atlassian_navigation */

#atlassian_navigation {
  padding: 30px 0 30px 0;
  position: relative;
}

#atlassian_navigation .navigation {
  padding: 0 30px 0 10px;
}

#atlassian_navigation img {
  position: absolute;
  top: -2px;
  left: 50px;
}

#atlassian_navigation li {
  font-size: 13px;
}

#atlassian_navigation h4 {
  font-size: 12px;
  font-weight: bolder;
}

/* footer  */
footer #social-media-icon {
  padding-top: 20px;
}




































}
